{% extends "web_ui/base/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<article class="ui-content ui-content--narrow">
    <header class="ui-content__header">
        <h1 class="ui-heading ui-heading--large">Login</h1>
        <p class="ui-text">Sign in to your account to continue.</p>
    </header>

    {% include "web_ui/components/form_layout.html" with form=form submit_text="Login" %}

    <footer class="ui-content__footer">
        <p class="ui-text ui-text--small">
            Don't have an account? <a href="{% url 'accounts:register' %}" class="ui-link">Register here</a>
        </p>
        <p class="ui-text ui-text--small">
            <a href="{% url 'accounts:password_reset' %}" class="ui-link">Forgot your password?</a>
        </p>
    </footer>
</article>
{% endblock %}
