{% extends "web_ui/base/base.html" %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
<article class="ui-content ui-content--narrow">
    <header class="ui-content__header">
        <h1 class="ui-heading ui-heading--large">Password Reset Complete</h1>
        <p class="ui-text">Your password has been successfully changed. You can now login with your new password.</p>
    </header>

    <footer class="ui-content__footer">
        <p class="ui-text">
            <a href="{% url 'accounts:login' %}" class="ui-link ui-link--primary">Go to Login</a>
        </p>
    </footer>
</article>
{% endblock %}
