{% extends "web_ui/base/base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<article class="ui-content ui-content--narrow">
    <header class="ui-content__header">
        <h1 class="ui-heading ui-heading--large">Reset Password</h1>
        <p class="ui-text">Enter your email address and we'll send you a link to reset your password.</p>
    </header>

    {% include "web_ui/components/form_layout.html" with form=form submit_text="Send Reset Link" %}

    <footer class="ui-content__footer">
        <p class="ui-text ui-text--small">
            <a href="{% url 'accounts:login' %}" class="ui-link">Back to Login</a>
        </p>
    </footer>
</article>
{% endblock %}
